@using Common.DTO
@using Common.Stations

@model PagedResult<AllStations, CityDistrictDTO>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="m-5">
        <h3 class="display-4">Türkiye Geneli Tüm Meteoroloji İstasyonları</h3>
    </div>  
    
    <div class="container mb-5 ml-5 mr-5">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <b>FİLTRELE</b>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse p-4" data-bs-parent="#accordionFlushExample">                
                <div class="row">
                    <form method="get" asp-action="Index" class="row g-2 align-items-end" id="filterForm">

                        <div class="col-6">
                            <select id="citySelect" name="cityId" class="form-select">
                                <option value="">İl Seçiniz...</option>
                                @foreach (var item in Model.OtherParams.CityList)
                                {
                                    <option value="@item.CityId">@item.CityName</option>
                                }
                            </select>
                        </div>

                        <div class="col-6">
                            <select id="districtSelect" name="districtName" class="form-select" disabled>
                                <option value="">İlçe Seçiniz...</option>
                            </select>
                        </div>

                        <div class="col-12 mt-4 d-flex justify-content-end">
                            <button type="submit" class="btn btn-success">FİLTRELE</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>



        <form class="mt-3 mb-3" method="get" action="@Url.Action("Index")" id="refreshForm">
            <div class="row">
                <div class="col-12 mt-4 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">YENİLE</button>
                </div>
            </div>
        </form>
    </div>

   <div class="container">

        @if (Model == null || !Model.Items.Any())
        {
            <div class="alert alert-warning">
                Gösterilecek istasyon bulunamadı.
            </div>
        }
        else
        {
            <table class="table table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>İl</th>
                        <th>İlçe</th>
                        <th>İstasyon Adı</th>
                        <th>Detay</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.il</td>
                            <td>@item.ilce</td>
                            <td>@item.istAd</td>
                            <td>
                                <button 
                                    class="btn btn-primary"
                                        data-id="@item.istNo"
                                        data-bs-toggle="modal"
                                        data-bs-target="#detailModal">
                                    İstasyon Detay
                                </button>
                            </td>

                            
                        </tr>
                    }
                </tbody>
            </table>


            <nav aria-label="Pagination">
                <ul class="pagination">
                    <li class="page-item @(Model.HasPrev ? "" : "disabled")">
                        <a class="page-link" href="@Url.Action("Index", new { page = Model.Page - 1 })">Önceki</a>
                    </li>

                    @{
                        var start = Math.Max(1, Model.Page - 2);
                        var end = Math.Min(Model.TotalPages, Model.Page + 2);
                    }

                    @for (int i = start; i <= end; i++)
                    {
                        <li class="page-item @(i == Model.Page ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                        </li>
                    }

                    <li class="page-item @(Model.HasNext ? "" : "disabled")">
                        <a class="page-link" href="@Url.Action("Index", new { page = Model.Page + 1 })">Sonraki</a>
                    </li>
                </ul>
            </nav>

        }

        <div class="modal fade" id="detailModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">İstasyon Detay</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
                    </div>

                    <div class="modal-body" id="detailModalBody">
                        <div class="text-center py-4">Yükleniyor...</div>
                    </div>
                </div>
            </div>
        </div>


   </div>
</div>


<script>
    const modalEl = document.getElementById('detailModal');
    const bodyEl = document.getElementById('detailModalBody');

    modalEl.addEventListener('show.bs.modal', async function (event) {
      const button = event.relatedTarget; // tıklanan buton
      const id = button.getAttribute('data-id');

      bodyEl.innerHTML = `<div class="text-center py-4">Yükleniyor...</div>`;

      try {
        const res = await fetch(`/Home/DetailsPartial?id=${id}`, {
          headers: { "X-Requested-With": "XMLHttpRequest" }
        });

        if (!res.ok) throw new Error("Detay getirilemedi.");
        const html = await res.text();
        bodyEl.innerHTML = html;

      } catch (err) {
        bodyEl.innerHTML = `<div class="alert alert-danger mb-0">${err.message}</div>`;
      }
    });

    modalEl.addEventListener('hidden.bs.modal', function () {
      bodyEl.innerHTML = ''; 
    });
        async function loadDistricts(cityId) {
        const districtSelect = document.getElementById("districtSelect");

        districtSelect.innerHTML = "";
        districtSelect.disabled = true;

        if (!cityId) {
            districtSelect.innerHTML = `<option value="">Önce il seçiniz...</option>`;
            return;
        }

        const res = await fetch(`/Home/GetDistricts?cityId=${cityId}`);
        const data = await res.json();

        districtSelect.innerHTML = `<option value="">İlçe Seçiniz...</option>`;

        data.forEach(x => {
            const opt = document.createElement("option");
            opt.value = x.districtName;
            opt.textContent = x.districtName;
            districtSelect.appendChild(opt);
        });

        districtSelect.disabled = false;
    }

    document.getElementById("citySelect").addEventListener("change", function () {
        loadDistricts(this.value);
    });

    document.getElementById("filterForm").addEventListener("submit", function (e) {
        const city = document.getElementById("citySelect").value;
        const district = document.getElementById("districtSelect").value;

        if (!city) {
            e.preventDefault();
            alert("Lütfen önce bir il seçiniz.");
            return;
        }

        if (!district) {
            e.preventDefault();
            alert("Lütfen bir ilçe seçiniz.");
            return;
        }
    });
</script>

